<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from creativelayers.net/themes/superio/dashboard-company-profile  by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Mar 2024 19:45:56 GMT -->
<head>
  <meta charset="utf-8">
  <title>Helpify | Just another HTML Template | Company Profile</title>

  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

  <div class="page-wrapper dashboard ">

    <!-- Preloader -->
  
    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header class="main-header header-shaddow">
      <div class="container-fluid">
        <!-- Main box -->
        <div class="main-box">
          <!--Nav Outer -->
          <div class="nav-outer">
            <div class="logo-box">
              <div class="logo"><a href="/index "><img src="/images/logo.png" width="50" alt="" title=""></a></div>
            </div>

           
            <!-- Main Menu End-->
          </div>

          <div class="outer-box">

            <button class="menu-btn">
              <span class="count">1</span>
              <span class="icon la la-heart-o"></span>
            </button>

            <button class="menu-btn">
              <span class="icon la la-bell"></span>
            </button>

            <!-- Dashboard Option -->
            <div class="dropdown dashboard-option">
              <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                <img src="images/resource/company-6.png" alt="avatar" class="thumb">
                <span class="name">My Account</span>
              </a>
              <ul class="dropdown-menu">
                <li ><a href="/institute-prof"> <i class="la la-home"></i> Dashboard</a></li>
                <li><a href="/dashboard-institute-profile"><i class="la la-user-tie"></i>Institute  Profile</a></li>
                <li><a href="/institute-raise-request"><i class="la la-paper-plane"></i>Raise New Request</a></li>
                <li><a href="/request"><i class="la la-briefcase"></i> Track Request </a></li>
                <!-- <li><a href="dashboard-applicants "><i class="la la-file-invoice"></i> AFeedback And Quality</a></li> -->
                <li class="active"><a href="/dashboard-institute-profile"><i class="la la-bookmark-o"></i>Profile Setting</a></li>
                <li><a href="/dashboard-packages"><i class="la la-box"></i>Reports</a></li>
                <li><a href="/dashboard-messages"><i class="la la-comment-o"></i>Messages</a></li>
                <li><a href="/alerts"><i class="la la-bell"></i>Alert</a></li>
                <li><a href="/dashboard-change-password"><i class="la la-lock"></i>Change Password</a></li>
                <li><a href="/dashboard-institute-profile"><i class="la la-user-alt"></i>View Profile</a></li>
                <li><a href="/index"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="/index"><i class="la la-trash"></i>Delete Profile</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile Header -->
      <div class="mobile-header">
        <div class="logo"><a href="/ "><img src="images/logo.svg" alt="" title=""></a></div>

        <!--Nav Box-->
        <div class="nav-outer clearfix">

          <div class="outer-box">
            <!-- Login/Register -->
            <div class="login-box">
              <a href="login-popup " class="call-modal"><span class="icon-user"></span></a>
            </div>

            <button id="toggle-user-sidebar"><img src="images/resource/company-6.png" alt="avatar" class="thumb"></button>
            <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
          </div>
        </div>

      </div>

      <!-- Mobile Nav -->
      <div id="nav-mobile"></div>
    </header>
    <!--End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

      <div class="sidebar-inner">
        <ul class="navigation">
          <li  ><a href="/institute-prof "> <i class="la la-home"></i> Dashboard</a></li>
          <li ><a href="/dashboard-institute-profile "><i class="la la-user-tie"></i>Institute  Profile</a></li>
          <li><a href="/institute-raise-request "><i class="la la-paper-plane"></i>Raise New Request</a></li>
          <li ><a href="/request "><i class="la la-briefcase"></i> Track Request </a></li>
          <!-- <li><a href="dashboard-applicants "><i class="la la-file-invoice"></i> AFeedback And Quality</a></li> -->
          <li class="active"><a href="/dashboard-institute-profile "><i class="la la-bookmark-o"></i>Profile Setting</a></li>
          <li><a href="/dashboard-packages "><i class="la la-box"></i>Reports</a></li>
          <li><a href="/dashboard-messages "><i class="la la-comment-o"></i>Messages</a></li>
          <li><a href="/alerts "><i class="la la-bell"></i> Alerts</a></li>
          <li><a href="/dashboard-change-password "><i class="la la-lock"></i>Change Password</a></li>
            <li><a href="/index "><i class="la la-sign-out"></i>Logout</a></li>
          <li><a href="/index "><i class="la la-trash"></i>Delete Profile</a></li>
        </ul>
      </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
        <div class="upper-title-box">
          <h3>Institute Profile</h3>
          <div class="text">Complete your institute profile information below</div>
        </div>
    
        <form class="default-form"> <!-- Single form element -->
          <div class="row">
            <div class="col-lg-12">
              <!-- Ls widget for Basic Information -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Basic Information</h4>
                  </div>
                  <div class="widget-content">
                    <div class="row">
                      <!-- Input for Institute Name -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Institute Name</label>
                        <input type="text" name="institute_name" placeholder="e.g., Sunrise Orphanage" required>
                      </div>
    
                      <!-- Input for Registration Number -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Registration Number (if applicable)</label>
                        <input type="text" name="registration_number" placeholder="e.g., ABC12345">
                      </div>
    
                      <!-- Dropdown for Institute Type -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Type of Institute</label>
                        <select class="chosen-select" name="institute_type" required>
                          <option value="orphanage">Orphanage</option>
                          <option value="elderly-home">Elderly Home</option>
                          <option value="food-shelter">Food Shelter</option>
                          <option value="other">Other</option>
                        </select>
                      </div>
    
                      <!-- Input for Contact Person Name -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Contact Person Name</label>
                        <input type="text" name="contact_name" placeholder="e.g., John Doe" required>
                      </div>
    
                      <!-- Input for Contact Person Designation -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Designation</label>
                        <input type="text" name="designation" placeholder="e.g., Manager">
                      </div>
    
                      <!-- Input for Phone Number -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Phone Number</label>
                        <input type="text" name="phone_number" placeholder="e.g., 123 456 7890" required>
                      </div>
    
                      <!-- Input for Email Address -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Email Address</label>
                        <input type="email" name="email" placeholder="e.g., info@institute.com" required>
                      </div>
    
                      <!-- Input for Website -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Website (Optional)</label>
                        <input type="url" name="website" placeholder="e.g., www.institute.com">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <!-- Ls widget for Location Details -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Location Details</h4>
                  </div>
                  <div class="widget-content">
                    <div class="row">
                      <!-- Input for Physical Address -->
                      <div class="form-group col-lg-12 col-md-12">
                        <label>Physical Address</label>
                        <textarea name="address" placeholder="e.g., 123 Main Street, City, Country" required></textarea>
                      </div>
    
                      <!-- Input for City -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>City</label>
                        <input type="text" name="city" placeholder="e.g., New York" required>
                      </div>
    
                      <!-- Input for State/Province/Region -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>State/Province/Region</label>
                        <input type="text" name="region" placeholder="e.g., California" required>
                      </div>
    
                      <!-- Dropdown for Country -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Country</label>
                        <select class="chosen-select" name="country" required>
                          <option value="USA">USA</option>
                          <option value="UK">UK</option>
                          <option value="India">India</option>
                          <option value="Australia">Australia</option>
                        </select>
                      </div>
    
                      <!-- File Upload for Location Map -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Location Map (Optional)</label>
                        <input type="file" name="location_map" accept="image/*">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <!-- Ls widget for Operational Information -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Operational Information</h4>
                  </div>
                  <div class="widget-content">
                    <div class="row">
                      <!-- Input for Number of Beneficiaries -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Number of Beneficiaries</label>
                        <input type="number" name="beneficiaries" placeholder="e.g., 50" required>
                      </div>
    
                      <!-- Input for Operational Days & Hours -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Operational Days & Hours</label>
                        <input type="text" name="operational_hours" placeholder="e.g., Mon-Fri, 9 AM - 5 PM" required>
                      </div>
    
                      <!-- Multi-select for Assistance Needed -->
                      <div class="form-group col-lg-12 col-md-12">
                        <label>Types of Assistance Needed</label>
                        <select class="chosen-select multiple" name="assistance_needed[]" multiple required>
                          <option value="groceries">Groceries</option>
                          <option value="medical-supplies">Medical Supplies</option>
                          <option value="hygiene-products">Hygiene Products</option>
                          <option value="education-materials">Education Materials</option>
                        </select>
                      </div>
    
                      <!-- Dropdown for Frequency of Assistance -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Frequency of Assistance Needed</label>
                        <select class="chosen-select" name="frequency" required>
                          <option value="daily">Daily</option>
                          <option value="weekly">Weekly</option>
                          <option value="monthly">Monthly</option>
                          <option value="emergency">Emergency-Only</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <!-- Ls widget for Bank Information -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Bank Information</h4>
                  </div>
                  <div class="widget-content">
                    <div class="row">
                      <!-- Input for Bank Name -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Bank Name</label>
                        <input type="text" name="bank_name" placeholder="e.g., Bank of America">
                      </div>
    
                      <!-- Input for Account Number -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Account Number</label>
                        <input type="text" name="account_number" placeholder="e.g., 123456789">
                      </div>
    
                      <!-- Input for IFSC/SWIFT Code -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>IFSC/SWIFT Code</label>
                        <input type="text" name="ifsc_code" placeholder="e.g., IFSC0001234">
                      </div>
    
                      <!-- Dropdown for Payment Method Preference -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Payment Method Preference</label>
                        <select class="chosen-select" name="payment_preference">
                          <option value="bank-transfer">Direct Bank Transfer</option>
                          <option value="paypal">PayPal</option>
                          <option value="mobile-payment">Mobile Payment</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <!-- Ls widget for Document Uploads -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Document Uploads</h4>
                  </div>
                  <div class="widget-content">
                    <div class="row">
                      <!-- File Upload for Registration Documents -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label for="registration_documents">Registration Documents</label>
                        <div class="uploading-outer">
                          <div class="uploadButton">
                            <input class="uploadButton-input" type="file" name="registration_documents" accept=".pdf,.doc,.docx,.jpg,.png" id="registration_documents" required />
                            <label class="uploadButton-button ripple-effect" for="registration_documents">
                              <span class="icon flaticon-upload"></span> Browse Registration Documents
                            </label>
                            <span class="uploadButton-file-name">No file chosen</span>
                          </div>
                          <div class="text">Max file size is 1MB, Accepted formats: PDF, DOC, DOCX, JPG, PNG</div>
                        </div>
                      </div>
                
                      <!-- File Upload for Tax Registration Certificates -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label for="tax_registration_certificates">Tax Registration Certificates</label>
                        <div class="uploading-outer">
                          <div class="uploadButton">
                            <input class="uploadButton-input" type="file" name="tax_registration_certificates" accept=".pdf,.doc,.docx,.jpg,.png" id="tax_registration_certificates" required />
                            <label class="uploadButton-button ripple-effect" for="tax_registration_certificates">Browse Tax Registration Certificates</label>
                            <span class="uploadButton-file-name">No file chosen</span>
                          </div>
                          <div class="text">Max file size is 1MB, Accepted formats: PDF, DOC, DOCX, JPG, PNG</div>
                        </div>
                      </div>
                
                      <!-- File Upload for Governance Documents -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label for="governance_documents">Governance Documents</label>
                        <div class="uploading-outer">
                          <div class="uploadButton">
                            <input class="uploadButton-input" type="file" name="governance_documents" accept=".pdf,.doc,.docx,.jpg,.png" id="governance_documents" required />
                            <label class="uploadButton-button ripple-effect" for="governance_documents">Browse Governance Documents</label>
                            <span class="uploadButton-file-name">No file chosen</span>
                          </div>
                          <div class="text">Max file size is 1MB, Accepted formats: PDF, DOC, DOCX, JPG, PNG</div>
                        </div>
                      </div>
              
                   
                      
                    </div>
                  </div>
                </div>
              </div>
              
              
              
    
              <!-- Submit Button -->
              <div class="ls-widget">
                <div class="form-group col-lg-6 col-md-12">
                  <button class="theme-btn btn-style-one" type="submit">Save Profile</button> <!-- Added type="submit" -->
                </div>
              </div>
            </div>
          </div>
        </form> <!-- Closing single form element -->
      </div>
    </section>
    
    
    
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
      <p>© 2024 Helpify. All Right Reserved.</p>
    </div>

  </div><!-- End Page Wrapper -->


  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/chosen.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery.modal.min.js"></script>
  <script src="js/mmenu.polyfills.js"></script>
  <script src="js/mmenu.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/ScrollMagic.min.js"></script>
  <script src="js/rellax.min.js"></script>
  <script src="js/owl.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/script.js"></script>
  <!--Google Map APi Key-->
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDaaCBm4FEmgKs5cfVrh3JYue3Chj1kJMw&amp;ver=5.2.4"></script>
  <script src="js/map-script.js"></script>
  <!--End Google Map APi-->
</body>


<!-- Mirrored from creativelayers.net/themes/superio/dashboard-company-profile  by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Mar 2024 19:45:56 GMT -->
</html>