<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from creativelayers.net/themes/superio/dashboard  by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Mar 2024 19:42:55 GMT -->
<head>
  <meta charset="utf-8">
  <title>Helpify | Dashboard</title>

  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

  <div class="page-wrapper dashboard ">

    <!-- Preloader -->
  
    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header class="main-header header-shaddow">
      <div class="container-fluid">
        <!-- Main box -->
        <div class="main-box">
          <!--Nav Outer -->
          <div class="nav-outer">
            <div class="logo-box">
              <div class="logo"><a href="index "><img src="/images/logo.png" width="50" alt="" title=""></a></div>
            </div>

             
            
            <!-- Main Menu End-->
          </div>

          <div class="outer-box">

            <button class="menu-btn">
              <span class="count">1</span>
              <span class="icon la la-heart-o"></span>
            </button>

            <button class="menu-btn">
              <span class="icon la la-bell"></span>
            </button>

            <!-- Dashboard Option -->
            <div class="dropdown dashboard-option">
              <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                <img src="images/resource/company-6.png" alt="avatar" class="thumb">
                <span class="name">My Account</span>
              </a>
              <ul class="dropdown-menu">
                <li ><a href="dashboard "> <i class="la la-home"></i> Dashboard</a></li>
                <li><a href="dashboard-company-profile "><i class="la la-user-tie"></i>Institute  Profile</a></li>
                <li><a href="institute-raise-request "><i class="la la-paper-plane"></i>Raise New Request</a></li>
                <li class="active"><a href="invoice "><i class="la la-briefcase"></i> Track Request </a></li>
                <li><a href="dashboard-applicants "><i class="la la-file-invoice"></i> AFeedback And Quality</a></li>
                <li><a href="dashboard-resumes "><i class="la la-bookmark-o"></i>Profile Setting</a></li>
                <li><a href="dashboard-packages "><i class="la la-box"></i>Reports</a></li>
                <li><a href="dashboard-messages "><i class="la la-comment-o"></i>Messages</a></li>
                <li><a href="dashboard-resume-alerts "><i class="la la-bell"></i>Notifications:</a></li>
                <li><a href="dashboard-change-password "><i class="la la-lock"></i>Change Password</a></li>
                <li><a href="dashboard-company-profile "><i class="la la-user-alt"></i>View Profile</a></li>
                <li><a href="index "><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="index "><i class="la la-trash"></i>Delete Profile</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile Header -->
      <div class="mobile-header">
        <div class="logo"><a href="index "><img src="images/logo.svg" alt="" title=""></a></div>

        <!--Nav Box-->
        <div class="nav-outer clearfix">

          <div class="outer-box">
            <!-- Login/Register -->
            <div class="login-box">
              <a href="login-popup " class="call-modal"><span class="icon-user"></span></a>
            </div>

            <button id="toggle-user-sidebar"><img src="images/resource/company-6.png" alt="avatar" class="thumb"></button>
            <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
          </div>
        </div>

      </div>

      <!-- Mobile Nav -->
      <div id="nav-mobile"></div>
    </header>
    <!--End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

      <div class="sidebar-inner">
        <ul class="navigation">
          <li  ><a href="  institute-prof "> <i class="la la-home"></i> Dashboard</a></li>
          <li><a href="dashboard-institute-profile "><i class="la la-user-tie"></i>Institute  Profile</a></li>
          <li><a href="institute-raise-request "><i class="la la-paper-plane"></i>Raise New Request</a></li>
          <li class="active" ><a href="request "><i class="la la-briefcase"></i> Track Request </a></li>
          <!-- <li><a href="dashboard-applicants "><i class="la la-file-invoice"></i> AFeedback And Quality</a></li> -->
          <li><a href="dashboard-institute-profile "><i class="la la-bookmark-o"></i>Profile Setting</a></li>
          <li><a href="dashboard-packages "><i class="la la-box"></i>Reports</a></li>
          <li><a href="dashboard-messages "><i class="la la-comment-o"></i>Messages</a></li>
          <li><a href="alerts "><i class="la la-bell"></i> Alerts</a></li>
          <li><a href="dashboard-change-password "><i class="la la-lock"></i>Change Password</a></li>
          <li><a href="dashboard-institute-profile "><i class="la la-user-alt"></i>View Profile</a></li>
          <li><a href="index "><i class="la la-sign-out"></i>Logout</a></li>
          <li><a href="index "><i class="la la-trash"></i>Delete Profile</a></li>
        </ul>
      </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
          <div class="track-request-wrap">
              <div class="track-request-content">
                  <div class="upper-title-box">
                      <h3>Welcome Back, Coders!</h3>
                      <div class="text">Ready to dive into your requests?</div>
                  </div>
  
                  <div class="info-box">
                      <div class="left-column">
                          <div class="info">
                              <h6>Order ID:</h6>
                              <span class="order-id">#ORD123456</span>
                          </div>
  
                          <div class="info">
                              <h6>Request Date:</h6>
                              <span>03/10/2024</span>
                          </div>
  
                          <div class="info">
                              <h4>Requester</h4>
                              <h5>NGO</h5>
                              <p>NEW Nashik 422009</p>
                          </div>
                      </div>
  
                      <div class="right-column">
                          <div class="info">
                              <h6>Current Status:</h6>
                              <span id="currentStatus" class="status">Pending</span>
                          </div>
                      </div>
                  </div>
  
                  <div class="status-flow">
                      <div class="flow-item active">
                          <div class="circle">1</div>
                          <div class="status-text">Pending</div>
                      </div>
                      <div class="flow-line active"></div>
                      <div class="flow-item">
                          <div class="circle">2</div>
                          <div class="status-text">Under Review</div>
                      </div>
                      <div class="flow-line"></div>
                      <div class="flow-item">
                          <div class="circle">3</div>
                          <div class="status-text">Approved</div>
                      </div>
                      <div class="flow-line"></div>
                      <div class="flow-item">
                          <div class="circle">4</div>
                          <div class="status-text">In Progress</div>
                      </div>
                      <div class="flow-line"></div>
                      <div class="flow-item">
                          <div class="circle">5</div>
                          <div class="status-text">On Hold</div>
                      </div>
                      <div class="flow-line"></div>
                      <div class="flow-item">
                          <div class="circle">6</div>
                          <div class="status-text">Completed</div>
                      </div>
                      <div class="flow-line"></div>
                      <div class="flow-item">
                          <div class="circle">7</div>
                          <div class="status-text">Cancelled</div>
                      </div>
                      
                      <div class="flow-line"></div>
                      <div class="flow-item">
                          <div class="circle">8</div>
                          <div class="status-text">Delivered</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  
  <style>
      .track-request-wrap {
          padding: 20px;
          border: 1px solid #ddd;
          border-radius: 5px;
          background-color: #f9f9f9;
          margin-top: 20px; /* Adding some space above */
      }
      .logo-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .request-id {
          font-size: 1.2em;
          font-weight: bold;
      }
      .info-box {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
      }
      .info {
          margin-right: 20px;
      }
      .status {
          font-weight: bold;
          color: #FFCC00; /* Highlight color for current status */
      }
      .status-flow {
          display: flex;
          align-items: center;
          margin-top: 30px;
          position: relative;
      }
      .flow-item {
          flex: 1;
          text-align: center;
      }
      .flow-item.active .circle {
          background-color: #FFCC00;
      }
      .circle {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 2px solid #ddd;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          font-weight: bold;
          color: #555;
          background-color: #fff;
      }
      .flow-line {
          flex: 1;
          height: 2px;
          background-color: #ddd;
      }
      .flow-line.active {
          background-color: #FFCC00;
      }
      .status-text {
          margin-top: 10px;
      }
      .track-request-footer {
          margin-top: 30px;
          text-align: center;
      }
      .bottom-links {
          list-style: none;
          padding: 0;
      }
      .bottom-links li {
          display: inline;
          margin-right: 15px;
      }
  </style>
  
      
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
      <p>© 2024 Helpify. All Right Reserved.</p>
    </div>

  </div><!-- End Page Wrapper -->


  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/chosen.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery.modal.min.js"></script>
  <script src="js/mmenu.polyfills.js"></script>
  <script src="js/mmenu.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/ScrollMagic.min.js"></script>
  <script src="js/rellax.min.js"></script>
  <script src="js/owl.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/script.js"></script>

  <!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
  <script src="js/chart.min.js"></script>
  <script>
    Chart.defaults.global.defaultFontFamily = "Sofia Pro";
    Chart.defaults.global.defaultFontColor = '#888';
    Chart.defaults.global.defaultFontSize = '14';

    var ctx = document.getElementById('chart').getContext('2d');

    var chart = new Chart(ctx, {

      type: 'line',
      // The data for our dataset
      data: {
        labels: ["January", "February", "March", "April", "May", "June"],
        // Information about the dataset
        datasets: [{
          label: "Views",
          backgroundColor: 'transparent',
          borderColor: '#1967D2',
          borderWidth: "1",
          data: [196, 132, 215, 362, 210, 252],
          pointRadius: 3,
          pointHoverRadius: 3,
          pointHitRadius: 10,
          pointBackgroundColor: "#1967D2",
          pointHoverBackgroundColor: "#1967D2",
          pointBorderWidth: "2",
        }]
      },

      // Configuration options
      options: {

        layout: {
          padding: 10,
        },

        legend: {
          display: false
        },
        title: {
          display: false
        },

        scales: {
          yAxes: [{
            scaleLabel: {
              display: false
            },
            gridLines: {
              borderDash: [6, 10],
              color: "#d8d8d8",
              lineWidth: 1,
            },
          }],
          xAxes: [{
            scaleLabel: {
              display: false
            },
            gridLines: {
              display: false
            },
          }],
        },

        tooltips: {
          backgroundColor: '#333',
          titleFontSize: 13,
          titleFontColor: '#fff',
          bodyFontColor: '#fff',
          bodyFontSize: 13,
          displayColors: false,
          xPadding: 10,
          yPadding: 10,
          intersect: false
        }
      },
    });
  </script>

</body>


<!-- Mirrored from creativelayers.net/themes/superio/dashboard  by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Mar 2024 19:42:58 GMT -->
</html>